NovaAPI/Connected Services/wsSecurityMain/FacturaMeCRService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UsuariosEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsuariosEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarioEntitie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioEntitie" nillable="true" type="tns:UsuarioEntitie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioEntitie" nillable="true" type="tns:ArrayOfUsuarioEntitie" />
  <xs:complexType name="UsuarioEntitie">
    <xs:sequence>
      <xs:element minOccurs="0" name="intEstado" type="xs:short" />
      <xs:element minOccurs="0" name="intNivel_Seguridad" type="xs:short" />
      <xs:element minOccurs="0" name="intPrivilegios" type="xs:int" />
      <xs:element minOccurs="0" name="intTipo_Gestion" type="xs:int" />
      <xs:element minOccurs="0" name="strCedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTelefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioEntitie" nillable="true" type="tns:UsuarioEntitie" />
</xs:schema>